.page-home {
	.intro {
		li {
			font-size: 1.2rem;
	        margin-left: 40px;
	        font-weight: regular;
	        color: rgb(104, 104, 104);
		}
	}
}


/* Contact Page */
.qr-code {
	background: $white;
	width: 180px;
	height: 180px;
	display: block;
	border: 20px solid $white;
	background-size: cover;
	margin: 0 auto;
	position: relative;
}

a.download-vcard {
	display: block;
	position: fixed;
	bottom: $grid-gutter-width;
	z-index: 1000;
	margin: 0px auto;
	width: 50%;
	text-align: center;
	left: 25%;
}